/* LoginPage.css */
.login-page {
  background: linear-gradient(to right, rgb(0, 0, 0), #d20c34);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.login-page .form-container {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  max-width: 80%;
}

.login-page .input-field {
  margin-bottom: 15px;
  display: flex;
  align-items: center; 
}

.login-page .input-field label {
  width: 90px; 
  margin-right: 10px; 
  /* text-align: right; */
}

.login-page .input-field input {
  flex: 1; 
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.login-page .input-field::placeholder {
  color: rgba(255, 255, 255, 0.7);
  margin-left: 8px;
}

.login-page button {
  background: #d20c34;
  border: none;
  color: white;
  padding: 12px 20px;
  margin-top: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.5s ease;
  width: 100%;
}

.login-page .switch-btn {
  margin-top: 15px;
  background: transparent;
  border: 2px solid white;
  color: white;
}


/* RegistrationPage.css */
.registration-page {
  background: linear-gradient(to right, rgb(0, 0, 0), #d20c34);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.registration-page .form-container {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  max-width: 80%;
}

.registration-page .input-field {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.registration-page .input-field label {
  width: 90px; 
  margin-right: 10px; 
  /* text-align: right; */
}

.registration-page .input-field input {
  flex: 1; /* Заполняет доступное пространство */
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.registration-page .input-field::placeholder {
  color: rgba(255, 255, 255, 0.7);
  margin-left: 8px;
}

.registration-page button {
  background: #d20c34;
  border: none;
  color: white;
  padding: 12px 20px;
  margin-top: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.5s ease;
  width: 100%;
}

.registration-page .switch-btn {
  margin-top: 15px;
  background: transparent;
  border: 2px solid white;
  color: white;
}

.title-input {
  /* padding-right: 10px; */
}

.label {
  padding-right: 10px;
  /* text-align: right; */
}
input:focus {
  outline: none;
  box-shadow: none;
}

input{
  font-size: 16px;
}
.news-list {
  background: linear-gradient(to right, rgb(0, 0, 0), #d20c34);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.news-list .news-card {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  max-width: 80%;
  margin-bottom: 15px;
}

.news-list .news-card img {
  width: 100%;
  height: auto;
}

.news-list .news-card h3 {
  margin-bottom: 10px;
}


.user-page {
  background: linear-gradient(to right, rgb(0, 0, 0), #d20c34);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.user-page .user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-page .user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-page .user-name {
  font-size: 24px;
}

.header {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.news-button {
  background: #d20c34;
  border: none;
  color: white;
  padding: 12px 20px;
  margin-top: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.5s ease;
  text-decoration: none;
  margin-right: 10px;

}